@use 'breakpoints' as b;

h1,
h2,
h3 {
    margin-top: 0;
    line-height: 0.9;
}

h1 {
    font-size: rem(34);
    // margin-bottom: rem(3);
    @include b.l-screen {
        font-size: rem(38);
    }
}

h2 {
    font-size: rem(24);
    margin-bottom: rem(24);
    color: var(--text-color2);
}

a,
a:visited,
a:active {
    text-decoration: none;
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}
