@forward 'global/breakpoints';
@forward 'global/colors';
@forward 'global/fonts';
@forward 'global/typography';
@forward 'components/button';
@forward 'components/container';

html {
    font-size: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-inter), var(--font-avenir);
    background: var(--background);
    color: var(--text-color);
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hidden {
    opacity: 0;
}

.smooth-shown {
    animation: fade-in 0.3s forwards;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90);
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
}
