@forward 'global/breakpoints';
@forward 'global/colors';
@forward 'global/fonts';
@forward 'global/typography';
@forward 'components/button';
@forward 'components/container';

html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-inter), var(--font-avenir);
    background: var(--background);
    color: var(--text-color);
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
